h1 {
  text-align: center;
  color: 003333;
}
h2 {
  text-align: center;
  color: 003333;
}
h3 {
  text-align: center;
  color: 003333;
}
p {
  text-align: center;
  color: 003333;
}
li {
  text-align: center;
  color: 003333;}
body  {
    background-image: url(https://wallpapercave.com/wp/wp1882915.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.sticky {
  text-align: right;
  font-size: 150%;
  color: 003333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0px
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.homebutton {text-align: center;}

button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#close-image img {
    display: block;
    height: 130px;
    width: 100px;
}

#close-CSS {
    background-image: url( 'https://vignette.wikia.nocookie.net/shadowofthecolossusespaol/images/8/80/537c2c9b5db182ef6572ce1eb6e27fd4.jpg/revision/latest?cb=20170629201640&path-prefix=es' );
    background-size: 100px 130px;
    height: 134px;
    width: 104px;
}
